.cartSection {
    padding: 30px;
    .cart{
        h1{
            background-color: grey;
            padding: 10px;
        }
    }
}


.cartBox {
    background-color: #dddddd;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}